*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
:root{
    /* ### Primary */
    --Moderate-violet: hsl(263, 55%, 52%);

    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);

    /* ### Neutral */
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}
body{ font-size: 13px;
     box-sizing: border-box;
      font-weight: 500;
    }
.testimonial h1{
    margin-bottom: 15px;
    font-weight: 600;
}
.testimonial-card{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

}
.text-color-white{
    color: var(--White);
}
    /* Light-Gray */
.text-color-light-gray{
    color: var(--Light-gray);
}
.text-color-light-gray-50{
    color: var(--Light-gray);
    opacity: 50%;
}
.text-color-light-gray-70{
    color: var(--Light-gray);
    opacity: 70%;
}
    /* Dark-Blackish-Blue */
.text-color-dark-blackish-blue{
    color: var(--Very-dark-blackish-blue);
}
.text-color-dark-blackish-blue-50{
    color: var(--Very-dark-blackish-blue);
    opacity: 50%;
}
.text-color-dark-blackish-blue-70{
    color: var(--Very-dark-blackish-blue);
    opacity: 70%;
}
.card-1 {
    background-color: var(--Moderate-violet);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 85% top;
    grid-area: one;
  }
  .card-1 img{
    border: 2px solid rgba(249, 249, 249, 0.5);
  }
.card-2{
    grid-area: two;
    background-color: var(--Very-dark-grayish-blue);
  }
.card-3{
    grid-area: three;
    background-color: var(--White);
  }
.card-4{
    grid-area: four;
    background-color: var(--Very-dark-blackish-blue);
  }
  .card-4 img{
    border: 2px solid #7541C8;
  }
.card-5{
    grid-area: five;
    background-color: var(--White);
  }
.main-content{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--Light-grayish-blue);
}

.grid-container{
    gap: 30px;
    max-width: 1250px;
    margin-inline: 30px;
    display: grid;
    grid-template-columns: minmax(160px, auto) minmax(300px, auto);
    grid-template-areas: 
    'one one two five'
    'three four four five';
}
.profile{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
img{
    object-fit: cover;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

@media(max-width:1160px){
    .grid-container{
        margin-block: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'one  four '
        'two  three '
        'five  five ';
    }
}

@media(max-width:700px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'one'
        'four'
        'two'
        'three'
        'five';
    }
}
